@using Data_Access_Layer.Entities
@model IEnumerable<Data_Access_Layer.Entities.Shelter>
@{
    ViewData["Title"] = "Shelters";
    Layout = "_Layout";
    IEnumerable<Category> categAv = ViewData["AvailebleCategories"] as System.Collections.Generic.IEnumerable<Category>;
}

@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;


<div class="manage course content" style="width:74%;">

    <section class="search-sec">
        <div class="container">
            <form method="post" novalidate="novalidate">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            @using (Html.BeginForm("GetAllShelters", "Shelter", FormMethod.Get))
                            {
                                <div class="col-lg-4 col-md-3 col-sm-12 p-0">
                            @Html.TextBox("searching" ,null,new {placeholder = "Введіть назву об'єкту", @class= "form-control search-slt"})
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                             @Html.TextBox("City" ,null,new {placeholder = "Введіть місто", @class= "form-control search-slt"})
                           

                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select id="SelectOption" name="SelectOption" class="form-control search-slt">
                                <option value="" disabled selected>Оберіть категорію</option>
                                        @foreach(var item in categAv)
                                        {
                                            <option value="@item.name">@item.name</option>
                                        }
                                        </select>

                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <input  type="submit" value="Пошук" class="btn btn-primary wrn-btn text-white" style="padding: 10px;border-radius:3px;"/>
                            </div>

                            }
                            
                            </div>
                </div>
            </div>
        </form>
    </div>
</section>
   
        

    
    

    @if (signInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary text-white" asp-controller="Shelter" asp-action="CreateShelter">Додати об'єкт міста</a>
    }

    
    @{
        int num = 0;
        foreach(var shelter in Model)
        {
            num++;
 
<div class="courseDetails d-flex flex-row" style="border-width:1px;">
    <img class="ShelterFirstSqImg" src="~/Images/@shelter.Image" />
    <div class="d-flex flex-column"  style="">
  <div class="p-0"><h2 class="CourseName "><b>@shelter.ShelterName</b></h2></div>
  <div class="LocationName p-1">@shelter.City , @shelter.Street</div>
  <div class="p-1">@shelter.ShelterShortDescription</div>
  <div class="d-flex flex-row">

  <div class=" d-flex p-1 align-self-end" style="margin-bottom:12px;">


                            @if(signInManager.IsSignedIn(User) && User.IsInRole("SimpleUser"))
                            {
                                @if (userManager.GetUserId(User) == shelter.UserId)
                                {
                                    <a class="btn btn-primary text-white" asp-controller="Shelter" asp-action="EditShelter" role="button" asp-route-id="@shelter.id">Редагувати</a>
       <a class="btn btn-primary text-white" asp-controller="Shelter" asp-action="DeleteShelter" role="button" asp-route-id="@shelter.id"  style="margin-left:10px; ">Видалити</a>
                                }
                        }
                        @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                
                                
                                    <a class="btn btn-primary text-white" asp-controller="Shelter" asp-action="EditShelter" role="button" asp-route-id="@shelter.id">Редагувати</a>
       <a class="btn btn-primary text-white" asp-controller="Shelter" asp-action="DeleteShelter" role="button" asp-route-id="@shelter.id"  style="margin-left:10px; ">Видалити</a>
                                
                        }
      
                            @if (signInManager.IsSignedIn(User))
                            {
                                <a class="btn btn-primary text-white" asp-controller="Shelter" asp-action="ShelterDetails" role="button" asp-route-id="@shelter.id"  style="margin-left:10px; ">Деталі</a>
                            }
                            else
                            {
                                <a class="btn btn-primary text-white" asp-controller="Shelter" asp-action="ShelterDetails" role="button" asp-route-id="@shelter.id"  style=" ">Деталі</a>
                            }
                            
       
  </div>
  
</div>

</div>
  
</div>
        }
    }
</div>