@model IEnumerable<Data_Access_Layer.Entities.Shelter>
@{
    ViewData["Title"] = "Shelters";
    Layout = "_Layout";

}



<div class="manage course content">
    <a class="btn btn-primary text-white" asp-controller="Shelter" asp-action="CreateShelter">Create Shelter</a>
    @{
        int num = 0;
        foreach(var shelter in Model)
        {
            num++;
 
<div class="courseDetails d-flex flex-row" style="width:74%">
    <img class="ShelterFirstSqImg" src="~/Images/@shelter.Image" />
    <div class="d-flex flex-column">
  <div class="p-0"><h2 class="CourseName "><b>@shelter.ShelterName</b></h2></div>
  <div class="LocationName p-1">@shelter.City , @shelter.Street</div>
  <div class="p-1">@shelter.ShelterShortDescription</div>
</div>
<div class="ml-auto p-2">
<div class="d-flex flex-column justify-content-start">
<div class="p-1">
<a class="btn btn-primary" asp-controller="Shelter" asp-action="Details" role="button" asp-route-id="@shelter.id" style="width:110%">Details</a>
</div>
<div class="p-1">
<a class="btn btn-primary" asp-controller="Shelter" asp-action="EditShelter" role="button" asp-route-id="@shelter.id" style="width:110%">Edit</a>
</div>
<div class="p-1">
<a class="btn btn-primary" asp-controller="Shelter" asp-action="DeleteShelter" role="button" asp-route-id="@shelter.id" style="width:110%">Delete</a>
</div>
</div>
</div>
  
</div>
        }
    }
</div>