@model ShelterEditViewModel
@{
    ViewData["Title"] = "Деталі";
    Layout = "_Layout";
    var photoPath = "/Images/"+Model.ExistingImage;
}
@using Data_Access_Layer.Entities
@using MyShelter.ViewModels






<div class="manage course content align-content-center d-flex justify-content-center">
   
   
<div class="courseDetails flex-column justify-content-between " style="width:70%;border-width:2px;border-color:#0e6ccd;border-radius: 15px;padding-left:30px;padding-right:30px;">
    <div class="d-flex justify-content-center  align-content-center">
        <h2 class="ggg" style="text-align:center;color:#0071c2;"><b> @Model.ShelterName</b></h2>
</div>
<div class="form-outline mb-2 margin:20px; border:3px;">
                            <img class="gjpke" src="@photoPath" width="100%" object-fit="cover" aspect-ratio ="1/1" style=" padding-top:10px;">
                            </div>

                            <div class="form-outline mb-2" style="">
                                <p class="DetailsText" for="form3Example1cg" style=""><strong>Категорія: </strong> @Model.Category.name</p>
                            </div>
                            <div class="form-outline mb-2" style="">
                                <p class="DetailsText" for="form3Example1cg" style=""><strong>Назва об'єкта: </strong> @Model.ShelterName</p>
                            </div>
                            <div class="form-outline mb-2" style="">
                                <p class="DetailsText" for="form3Example1cg" style=""><strong>Місто: </strong> @Model.City</p>
                            </div>
                            <div class="form-outline mb-2" style="">
                                <p class="DetailsText" for="form3Example1cg" style=""><strong>Вулиця: </strong> @Model.Street</p>
                            </div>
        @if (@Model.PeopleCount.ToString().Length > 0)
        {
            <div class="form-outline mb-2" style="">
                                <p class="DetailsText" for="form3Example1cg" style=""><strong>Кількість чоловік, які може вмістити: </strong> @Model.PeopleCount</p>
                            </div>
        }

                            <div class="form-outline mb-2" style="">
                                <p class="DetailsText" for="form3Example1cg" style=""><strong>Опис: </strong> @Model.ShelterLongDescription</p>
                            </div>



                            
                           
                             <!--The div element for the map -->
   <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    <div id="map"></div>
    
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1gRfrbVI20cLW1Fc8u6rgoq2Yi5z_LJk&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>

    <div class="form-outline mb-2" style="padding-top:15px;">
                                <a class="btn btn-primary btn-lg text-white" asp-controller="Shelter" asp-action="GetAllShelters" role="button">Назад</a>
                            </div>


</div>