@using Data_Access_Layer.Entities
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@model IEnumerable<Data_Access_Layer.Entities.Category>
@inject SignInManager<ApplicationUser> signInMahager;

@inject UserManager<ApplicationUser> userManager;
@{
    ViewData["Title"] = "Manage Categoty";
    Layout = "_Layout-2";

}


<div class="manage course content" style="width:74%;>

    <section class="search-sec">
        <div class="container">
            <form method="post" novalidate="novalidate">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            @using (Html.BeginForm("GetAllCategories", "Category", FormMethod.Get))
                            {
                                <div class="col-lg-10 col-md-3 col-sm-12 p-0">
                            @Html.TextBox("searching" ,null,new {placeholder = "Введіть назву об'єкту", @class= "form-control search-slt"})
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <input  type="submit" value="Пошук" class="btn btn-primary wrn-btn text-white" style="padding: 10px;border-radius:3px;"/>
                            </div>

                            }
                            
                            </div>
                </div>
            </div>
        </form>
    </div>
</section>


  

    @{
        @if(signInMahager.IsSignedIn(User)){
         <a class="btn btn-primary text-white" asp-controller="Category" asp-action="Create">Додати категорію</a>
     }

        int num = 0;
        foreach(var cat in Model)
        {
            num++;
 <div class="courseDetails d-flex flex-row" style="border-width:1px;">
    <img class="ShelterFirstSqImg" src="~/Images/@cat.Image" />
    <div class="d-flex flex-column"  style="">
  <div class="p-0"><h2 class="CourseName "><b>@cat.name</b></h2></div>
  <div class="p-1">@cat.description</div>
  <div class="d-flex flex-row">


                        @if(signInMahager.IsSignedIn(User) && User.IsInRole("SimpleUser"))
                        {
                            @if (userManager.GetUserId(User) == cat.UserId )
                        {
                            <div class=" d-flex p-1 align-self-end" style="margin-bottom:12px;">
      <a class="btn btn-primary text-white" asp-controller="Category" asp-action="Edit" role="button" asp-route-id="@cat.id" >Редагувати</a>
       <a class="btn btn-primary text-white" asp-controller="Category" asp-action="Delete" role="button" asp-route-id="@cat.id"  style="margin-left:10px;">Видалити</a>
  </div>
                        }
                        }
                        @if(signInMahager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            
                        
                            <div class=" d-flex p-1 align-self-end" style="margin-bottom:12px;">
      <a class="btn btn-primary text-white" asp-controller="Category" asp-action="Edit" role="button" asp-route-id="@cat.id" >Редагувати</a>
       <a class="btn btn-primary text-white" asp-controller="Category" asp-action="Delete" role="button" asp-route-id="@cat.id"  style="margin-left:10px;">Видалити</a>
  </div>
                        
                        }



                        
  
  
</div>

</div>
  
</div>
        }
    }

    
</div>